<%= form_tag '/home/get_common_words', method: 'post', :multipart => true do %>

	<h3>Source 1 - S3</h3>

	<%= label_tag :bucket, "Bucket"%>
	<%= text_field_tag "data[s3][bucket]", ''%>
	<%= label_tag :access_key, "Access Key"%>
	<%= text_field_tag 'data[s3][access_key]', '' %><br/>
	<%= label_tag :secret_key, "Secret Key"%>
	<%= text_field_tag 'data[s3][secret_key]', '' %><br/>
	<%= label_tag :s3_csv_file_name, "CSV File name"%>
	<%= text_field_tag 'data[s3][file_name]', '' %>
	<%= label_tag :s3_column_name, "Column Name"%>
	<%= text_field_tag 'data[s3][column_name]', '' %>

	<h3>Source 2 - MySQL</h3>

	<%= label_tag :host, "Host"%>
	<%= text_field_tag "data[mysql][host]", '' %>
	<%= label_tag :port, "Port"%>
	<%= text_field_tag "data[mysql][port]", ''%>
	<%= label_tag :user, "Username"%>
	<%= text_field_tag 'data[mysql][user]', '' %><br/>
	<%= label_tag :password, "Password"%>
	<%= text_field_tag 'data[mysql][password]', '' %><br/>
	<%= label_tag :database, "Database"%>
	<%= text_field_tag 'data[mysql][database]', '' %>
	<%= label_tag :table, "Table"%>
	<%= text_field_tag 'data[mysql][table]', '' %>
	<%= label_tag :column_name, "Column Name"%>
	<%= text_field_tag 'data[mysql][column_name]', '' %>

	<h3>Source 3 - Remote file</h3>

	<%= label_tag :host, "Host"%>
	<%= text_field_tag "data[remote][host]", '' %>
	<%= label_tag :user, "Username"%>
	<%= text_field_tag 'data[remote][user]', '' %><br/>
	<%= label_tag :password, "Password"%>
	<%= text_field_tag 'data[remote][password]', '' %><br/>
	<%= label_tag :csv_file_name, "CSV File name"%>
	<%= text_field_tag 'data[remote][file_name]', '' %>
	<%= label_tag :column_name, "Column Name"%>
	<%= text_field_tag 'data[remote][column_name]', '' %>

	<h3>Source 4 -Upload CSV file</h3>

	<%= file_field_tag 'data[local][file_name]' %><br>
	<%= label_tag :column_name, "Column Name"%>
	<%= text_field_tag 'data[local][column_name]', '' %>
	<br><br>
	<%= submit_tag 'Get Common words', :class => 'btn btn-primary'%>
<% end %>